<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aproved leave requests</title>
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    <style>
        body{
            background-image: url({% static 'img/emp_apr.jpg' %});
            background-size:100%;
            
            background-repeat: no-repeat;
            margin-top:20px;
        }
        .table{
            background-color: rgba(0, 0, 0, 0.575);
            border:2px solid black;

        }
    </style>
    <body>
        <h1 class="text-center text-white ">APPROVED LEAVES</h1>
        
        <table border="": class='text-center table text-white my-3 w-100' style="">
            <thead>
                <tr>
                    {% comment %} <th>USER ID</th>
                    <th> USER NAME</th> {% endcomment %}
                    
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>REASON</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for u in leave_aproved %}
                <tr>
                    {% comment %} <td>{{ u.user.id }}</td>
                     <td>{{ u.user.first_name }} {{ u.user.last_name }}</td> {% endcomment %}
                     {% comment %}{% url 'admin_details' teachers.id %} {% endcomment %}
                
                    <td>{{ u.startdate }}</td>
                    <td>{{ u.enddate }}</td>
                    <td>{{ u.reason }}</td>

                    {% empty %}
                    <h3 class="text-white text-center">
                        You Have Not Yet Applied For Leave
                    </h3>
                    
                    
            
                {% endfor %} 
           
            
        </table>
        
        <script src="" async defer></script>
    </body>
</html>